<template>
    <l-map id="map" :zoom="zoom" :center="center" @click="addMarker">
        <l-tile-layer :url="url"></l-tile-layer>
        <l-marker v-for="marker in markerList" :key="marker['.key']" :lat-lng="marker['.value']" @click="() => removeMarker(marker['.key'])"
        ></l-marker>
        <l-control><button @click="geoFindMe">Show my position!</button></l-control>
    </l-map>
</template>

<script>
    import { LMap, LTileLayer, LMarker, LControl } from "vue2-leaflet";

    export default {
        name: "myMap",
        firebase: function() {
            return {
                markerList: this.$db.ref("/markerList/")
            };
        },
        data() {
            return {
                url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
                zoom: 13,
                center: [47.472092, -0.550589]
            };
        },
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LControl
        },
        methods: {
            addMarker(marker) {
                this.$firebaseRefs.markerList.push([
                    marker.latlng.lat,
                    marker.latlng.lng
                ]);
            },
            removeMarker(markerKey) {
                this.$firebaseRefs.markerList.child(markerKey).remove();
            },
            geoFindMe() {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(
                        position => {
                            this.center = [position.coords.latitude, position.coords.longitude];
                        },
                        error => {
                            console.error(error);
                        }
                    );
                }
            }
        }
    };
</script>

<style scoped>
    #map {
        height: 100%;
        width: 100%;
    }
</style>